<div class="invoice-form-component m-5">
  <div class="border rounded-xl border-gray-700">
    <div class="flex flex-row justify-between items-center border-b border-gray-700 p-5">
      <div class="flex-1">
        <p-steps styleClass="w-full" [activeIndex]="menuActive()" [model]="items" [readonly]="false"
                 (activeIndexChange)="onActiveIndexChange($event)"/>
        <!--      <p-button (click)="resetForm()" class="hover:bg-red-800" variant="outlined" severity="danger"-->
        <!--                [label]="'Tout effacer'"/>-->
      </div>
    </div>
    <form class="flex flex-col gap-2 p-5" [formGroup]="formGroup">
      @if (menuActive() === 0) {
        <app-issuer-information></app-issuer-information>
      }
      @if (menuActive() === 1) {
        <app-client-information></app-client-information>
      }
      @if (menuActive() === 2) {
        <app-contract-information></app-contract-information>
      }
      @if (menuActive() === 3) {
        <app-product [invoice]="invoice()" [total]="total()"></app-product>
      }
      @if (menuActive() === 4) {
        <app-pdf-preview [pdfSrc]="pdfSrc()"></app-pdf-preview>

        <p-button [disabled]="!canDownloadPdf()" (click)="downloadPDF()" icon="pi pi-file-pdf"
                  label="Télécharger la facture"
                  severity="primary"/>
      }
    </form>
  </div>
  <div class="flex flex-row justify-end items-end gap-3 p-5">
    <p-button (click)="prevStep()" [disabled]="menuActive() === 0" variant="outlined" severity="primary"
              [label]="'Précédent'"/>
    <p-button (click)="nextStep()" [disabled]="menuActive() === items.length - 1" variant="outlined" severity="primary"
              [label]="'Suivant'"/>
  </div>
</div>
