<div [formGroup]="formGroup">
  <h5>Produits / Services</h5>
  <div class="flex flex-col mt-4 gap-3">
    <app-product-table [invoice]="invoice()"/>
  </div>
  <div class="mt-4 gap-3">
    <p-inputgroup>
      <p-floatlabel class="w-33 sm:w-5/12 md:w-4/12 lg:w-3/12" variant="on">
        <p-inputNumber class="w-33" [formControlName]="'duAmount'" id="duAmount" mode="currency"
                       inputId="duAmount" currency="EUR"/>
        <label for="duAmount">Solde dû/Déjà réglé</label>
      </p-floatlabel>
      <p-inputgroup-addon>
        <p-checkbox (onChange)="isAllreadyPaid($event)" [formControlName]="'isPaid'"
                    [binary]="true"></p-checkbox>
      </p-inputgroup-addon>
    </p-inputgroup>
  </div>

  <app-summary [formGroup]="formGroup" [invoice]="invoice()" [total]="total()"></app-summary>
</div>
